<%- include header %>

<%- include nav %>

<div class="container">
	<div class="page-header">
		<h1>意想社团</h1><small>华软社团管理系统</small>
	</div>
	<p class="lead">“意想社团”是一个社团管理系统，在这里，我们收集了华软社团的信息，包括社团部门信息以及社团活动信息，意在为你提供全面的社团信息服务，让您更加清晰的了解华软的社团文化.</p>

	<div class="panel panel-info">
		 <div class="panel-heading">疑问？建议！</div>
		<div class="panel-body">
			如有疑问或其他意见，请和我们保持联系。我们将广泛听从并做出修改。
		</div>
	</div>

	<div class="row">
	  <div class="col-sm-4 col-md-4">
	    <div class="thumbnail">
	      <img src="/image/contact.png" alt="czw" style="max-width: 220px;">
	      <div class="caption"  style="text-align: center;">
	        <h3>yjx</h3>
	        <p>意想社团系统设计人员之一</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-md-4">
	    <div class="thumbnail">
	      <img src="/image/contact.png" alt="czw" style="max-width: 220px;">
	      <div class="caption" style="text-align: center;">
	        <h3>cwk</h3>
	        <p>意想社团系统设计人员之一</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-md-4">
	    <div class="thumbnail">
	      <img src="/image/contact.png" alt="czw" style="max-width: 220px;">
	      <div class="caption"  style="text-align: center;">
	        <h3>czw</h3>
	        <p>意想社团系统设计人员之一</p>
	      </div>
	    </div>
	  </div>
	</div>
</div>


<%- include footer %>
<!-- 导航条当前选项选中 -->
<script>$("#nav5").addClass("actived");</script>
</body>
</html>